@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nostalgia Gamer</h1>
    <p>relembrar é reviver, reviva momentos incríveis de games nostalgicos</p>
</div>
<div class="card vd-1">
<p> metal slug </p>
    link rel="stylesheet" href="https://www.youtube.com/watch?v=weBZcDecaPs"/>
    <img src="/wwwroot/IMG1.jpg" class="IMG1" alt="IMG1">
    <img src="/wwwroot/IMG2.jpg" class="IMG2" alt="IMG2">
    <img src="/wwwroot/IMG3.jpg" class="IMG3" alt="IMG3">
    </div>