@{
    ViewData["Title"] = "Home Page";
}
<div class="hero-wrap">
    <section class="hero">
        <div class="hero-left">
            <h1>METAL SLUG</h1>
            <p>É uma famosa série de jogos de ação estilo "run and gun" da SNK, conhecida por sua jogabilidade frenética de correr e atirar, personagens carismáticos (Marco e Tarma), humor, gráficos detalhados em 2D e, principalmente, pelo icônico tanque "Metal Slug".</p>
        </div>

        <div class="hero-right">
            <div class="device">
                <div class="device-inner">
                    <div class="device-grid">
<!-- arrumar o vídeo, colocar o link do YT --->
  <div class="device-video"
    <video controls autoplay muted loop>
      <source src="@(Url.Content("~/Video_MetalSlug.mp4"))" type="video/mp4">
  seu navegador não suporta o elemento de vídeo.
</video>
</div>
                    <div class="speaker-label">BRKsEDU</div>
                    <div class="thumb-row">
                        <div class="thumb" style="background-image: url('@(Url.Content("~/IMG1.jpg"))'); background-size:cover; background-position:center;"></div>
                        <div class="thumb" style="background-image: url('@(Url.Content("~/IMG2.jpg"))'); background-size:cover; background-position:center;"></div>
                        <div class="thumb" style="background-image: url('@(Url.Content("~/IMG3.jpg"))'); background-size:cover; background-position:center;"></div>   
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
